$font-stack: Helvetica, sans-serif;
$primary-font-color: red;

body {
  font: 100% $font-stack;
  color: $primary-font-color;
  background-color: skyblue;
}

.navbar {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      display: flex;
    }
  }
}

.welcome {
  display: flex;
  justify-content: center;
}
